<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <h1>Our Services</h1>
</div>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card b-0">
                <fieldset class="show">
                    <div class="form-card">
                        <div class="row px-1 radio-group">
                            <div class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1" src="../../../../assets/img/delete-bank-account.png"> </div>
                                <p class="sub-desc">Open Bank Account</p>
                            </div>
                            <div class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="../../../../assets/img/fund-transfer.png"> </div>
                                <p class="sub-desc">Fund Transfer</p>
                            </div>
                            <div class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="../../../../assets/img/fixed-deposit.png"> </div>
                                <p class="sub-desc">Fixed Deposit</p>
                            </div>
                            <div class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 " src="../../../../assets/img/Credit-Amount.png"> </div>
                                <p class="sub-desc">Credit Amount</p>
                            </div>
                            <div class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="../../../../assets/img/debit-amount.png"> </div>
                                <p class="sub-desc">Debit Amount</p>
                            </div>
                            <div class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="../../../../assets/img/update-profie1.png"> </div>
                                <p class="sub-desc">Profile Update</p>
                            </div>
                            
                        </div> 
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
  </div>