<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <h1>View Balance</h1>
</div>
<div class="p-5 p-md-5 m-md-3 bg-light">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 card-title heading font-weight-bold">Saving Account Balance</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-muted">&#8377;</small>{{bal.Balance}}</h1>          
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 card-title heading font-weight-bold">Fixed Account (FD) Balanace</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-muted">&#8377;</small>{{bal.FDBalance}}</h1>
        </div>
      </div>
    </div>
  </div>