<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7">
            <div class="card b-0">
                <fieldset class="show">
                    <div class="form-card">
                        <div class="row px-1 radio-group">
                            <a href="/customerviewaccount" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1"
                                        src="../../../../assets/img/view-details.png"> </div>
                                <p class="sub-desc">View Account</p>
                            </a>
                            <a href="/customerviewbalance" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image"
                                        src="../../../../assets/img/view-balance.png"> </div>
                                <p class="sub-desc">View Balance</p>
                            </a>
                            <a href="/customerfundtransfer" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image"
                                        src="../../../../assets/img/fund-transfer1.png"> </div>
                                <p class="sub-desc">Fund Transfer</p>
                            </a>
                            <a href="/customercreatefd" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image"
                                        src="../../../../assets/img/fixed-deposit.png"> </div>
                                <p class="sub-desc">Create FD Account</p>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>