<section class="">

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg">
    <div class="col-md-5 p-lg-5 mx-auto my-5 bg-dark p-5">
      <h1 class="display-4 font-weight-bold" style="color: aliceblue;">WELCOME TO RVR BANK</h1>
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  </div>
  <div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div id="browser_cache" class="col-lg-12 col-md-12 hidden-sm hidden-xs">
      <p>RBR never ask you for confidential information such as PIN and OTP from customer. Any such call can be made by
        only fraudster. Please do not share personal information.</p>
    </div>
  </div>

  <!-- <div class="p-3 p-md-5 m-md-3 text-center bg-light">
    <div id="banking" class="row col-md-12">
      <div class="col-md-6 box1">
        <div class="banking_section pt-5">
          <span id="personal_icon">&nbsp;</span>
          <a class="personal"><span class="personal_highlight">PERSONAL</span> BANKING</a>
          <div class="login loginButton">
            <a href="/login" class="login-new" style="width:95px !important;">
              <span class="classicTxt">LOGIN</span><span class="classicImg hidden-xs"><img
                  src="../../../assets/img/arrow.png" alt="Personal Login"></span></a><a class="login-new"
              style="width:95px !important;">
              <span class="classicTxt">Open Bank Account</span><span class="classicImg hidden-xs"><img
                  src="../../../assets/img/arrow.png" alt="Personal Login"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 box1">
        <div class="banking_section pt-5">
          <span id="corporate_icon">&nbsp;</span>
          <a class="personal"><span class="personal_highlight">CORPORATE</span> BANKING</a>
          <div class="login loginButton">
            <a href="/banklogin" class="login-new" style="width:95px !important;">
              <span class="classicTxt">LOGIN</span><span class="classicImg hidden-xs"><img
                  src="../../../assets/img/arrow.png" alt="Corporate Login"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</section>