<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <h1>About Us</h1>
</div>
<div class="about-section">
    <h2>RVR Bank Pvt. Ltd. </h2>
    <h2>We’re just the bank you need. </h2>
    <p>Your Faithful And Friendly Financial Partner</p>
  </div>
  <hr>
  <h2 style="text-align:center">Our Team</h2>
  <hr>
  <div class="row">
    <div class="column">
      <div class="card">
        <h2 class="card-header">Present, Past & Future</h2>
        <div class="card-body">
          <p>Present, Past & Future</p>          
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <h2 class="card-header">Leadership & Governance</h2>
          <div class="card-body">
            <p>Leadership & Governance</p>          
          </div>
        </div>
      </div>
      <div class="column">
          <div class="card">
            <h2 class="card-header">Awards & Recognition</h2>
            <div class="card-body">
              <p>Awards and Recognition</p>          
            </div>
          </div>
        </div>
  </div>