<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7">
            <div class="card b-0">
                <fieldset class="show">
                    <div class="form-card">
                        <div class="row px-1 radio-group">
                            <a href="/adminviewallaccount" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1"
                                        src="../../../../assets/img/view-account-detail.png"> </div>
                                <p class="sub-desc">View All BankAccounts</p>
                            </a>
                            <a href="/admindeleteaccount" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image"
                                        src="../../../../assets/img/delete-bank-account.png"> </div>
                                <p class="sub-desc">Delete Bank Account</p>
                            </a>
                            <a href="/admindebitaccount" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image"
                                        src="../../../../assets/img/debit.png"> </div>
                                <p class="sub-desc">Debit</p>
                            </a>
                            <a href="/admincreditaccount" class="card-block text-center radio selected">
                                <div class="image-icon"> <img class="icon icon1 fit-image"
                                        src="../../../../assets/img/credit.png"> </div>
                                <p class="sub-desc">Credit</p>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card b-0">
              <fieldset class="show">
                  <div class="form-card">
                      <div class="row px-1 radio-group">
                          <a href="/adminviewallaccount" class="card-block text-center radio selected">
                              <div class="image-icon"> <img class="icon icon1" src="../../../../assets/img/view-account-detail.png"> </div>
                              <p class="sub-desc">View All Bank Account's</p>
                          </a>
                          <a href="/admindeleteaccount" class="card-block text-center radio selected">
                              <div class="image-icon"> <img class="icon icon1" src="../../../../assets/img/delete-bank-account.png"> </div>
                              <p class="sub-desc">Delete Bank Account</p>
                          </a>
                          <a href="/adminupdateaccount" class="card-block text-center radio selected">
                              <div class="image-icon"> <img class="icon icon1 fit-image" src="../../../../assets/img/update-bank-account.png"> </div>
                              <p class="sub-desc">Debit/Credit</p>
                          </a>
                          <a href="/adminupdateaccount" class="card-block text-center radio selected">
                            <div class="image-icon"> <img class="icon icon1 fit-image" src="../../../../assets/img/update-bank-account.png"> </div>
                            <p class="sub-desc">Debit/Credit</p>
                        </a>
                      </div> 
                  </div>
              </fieldset>
          </div>
      </div>
  </div>
</div> -->