<div class="position-relative overflow-hidden p-3 text-center bg-light">
    <h1>Contact Us</h1>
</div>

<div class="p-5 p-md-5 m-md-3 bg-light">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Email
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                <div class="card-body">
                    <b>
                        <p>C-DAC Knowledge Park</p>
                    </b>
                    <p>Old Madras Road, Byappanahalli</p>
                    <p>560 038, Bengaluru, India</p>
                    <p>Email : xyz@example.com</p>
                    <p>Phone : +91-00-0000-0000</p>
                    <p>Fax : +91-00-0000-0000</p>
                </div>

            </div>
        </div>
    </div>
</div>